* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

 .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
}

img {
    width: 100%;
    border: 2px solid darkgray;
    border-radius: 10px;
}

.image {
    padding: 15px;

}

.content h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px 2px rgb(199, 151, 151);
    margin-top: 20px;
}

h3{
    color: gray;
    text-align: center;
    font-size: 15px;
    margin-bottom: 18px;
}
span{
    color: red;
}